@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




li,
a,
button {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.nav-links{
  list-style: none;
}

.nav-links li{
display: inline-block;
}

.nav-links li a{
transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
color: #0388f4;
}

button{
  padding: 9px 25px;
  background-color: #0388f4;
  border: none;
  border-radius: 50px;
}

button:hover{

}