@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

h2,
h3 {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
h4 {
  color: white;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.intro-container {
  padding-top: 190px;
}

li,
a,
button {
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: White;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-links {
  list-style: none;
  position: fixed;
  display: flex;
  margin-top: 20px;
}

.nav-links li {
  display: inline-block;
  padding: 5px;
  align-items: center;
  padding-left: 15px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 6px;
  background-color: #0388f4;
  border-radius: 50px;
}

.nav-links li a:hover {
  background-color: #0965b1;
}

button {
  margin: 10px;
  padding: 12px;
  background-color: #0388f4;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  font-size: 18px;
}

button:hover {
  background-color: #066cbf;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 5px;
}

.p-tag {
  font-size: 20px;
}

.footer-p-tag {
  padding: 5px;
  font-size: 15px;
}

.hp-p-tag {
  padding: 8px;
}

.fullstack {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  justify-content: flex-start;
  align-items: start;
}

#img-trial {
  margin: 0;
  height: 300px;
  width: 100%;
  background-image: url(../public/assets/website-img.png.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
